In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
from scipy import stats

In [9]:
df = pd.read_excel("C:/Users/Nico/Documents/GitHub/monopoly/monopoly/data/01_raw/Base_clientes_Monopoly-0.xlsx", engine='openpyxl')

In [10]:
dfo = df.copy()

In [11]:
df.shape

(51125, 575)

In [12]:
df.head(30)

,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,1.565,1.566,1.567,1.568,1.569,1.570,1.571,1.572,1.573,574
0,Id,Subsegmento,Sexo,Region,Edad,Renta,Antiguedad,Internauta,Adicional,Dualidad,...,PagoNac_T01,PagoInt_T01,EeccNac_T01,EeccInt_T01,UsoL1_T01,UsoL2_T01,UsoLI_T01,IndRev_T01,target,NaN
1,1,160,M,13,43,NaN,130,1,1,0,...,33000,0,1099866,0,1099866,15080,0,R,0,NaN
2,2,160,H,13,46,143640,69,1,0,0,...,300000,0,214592,0,214592,83596,0,R,0,NaN
3,3,170,H,13,45,929106,24,1,1,0,...,216676,0,0,0,7400,0,0,T,0,NaN
4,4,151,H,13,46,172447,134,0,1,0,...,60000,0,272762,0,272762,10591,0,R,0,NaN
5,5,170,H,13,46,805250,116,0,1,1,...,272925,0,249562,0,75339,377782,0,R,0,NaN
6,6,170,H,13,47,707664,67,1,1,0,...,35800,0,35800,0,0,51197,0,R,0,NaN
7,7,811,H,13,48,1022833,21,1,0,1,...,9391,0,8818,0,8818,0,0,T,0,NaN
8,8,170,H,13,46,NaN,69,0,1,1,...,6000,0,283520,0,283520,0,0,R,0,NaN
9,9,170,H,13,49,1171066,33,0,0,0,...,60000,0,507629,0,507629,0,0,R,1,NaN
10,10,170,M,13,44,964387,23,1,1,0,...,92583,0,65487,0,65487,12084,0,R,0,NaN
11,11,170,M,13,38,NaN,38,0,0,0,...,0,0,438391,271.79,438391,0,271.79,T,0,NaN
12,12,151,M,9,47,NaN,59,1,0,0,...,0,0,136793,0,234086,0,0,R,0,NaN
13,13,170,H,13,36,1263238,80,1,0,0,...,139884,0,396830,0,396830,116923,0,R,0,NaN
14,14,170,M,10,33,1456715,29,0,0,0,...,0,0,1108222,0,1108222,93585,0,R,0,NaN
15,15,160,H,13,48,592541,13,0,0,0,...,28000,0,51684,0,55184,399665,0,R,0,NaN
16,16,170,H,13,46,NaN,7,1,0,1,...,37782,0,37823,0,41,149313,0,R,0,NaN
17,17,170,M,13,51,752396,22,1,0,1,...,96367,0,60975,0,80975,187103,0,R,0,NaN
18,18,170,H,13,37,844830,72,1,0,0,...,0,0,0,0,0,0,0,P,0,NaN
19,19,170,M,13,47,176712,94,1,0,0,...,0,0,0,0,0,0,0,P,0,NaN
20,20,160,M,8,46,210298,43,0,1,1,...,46000,0,1498860,0,1498860,0,0,R,1,NaN
21,21,170,M,13,50,691615,18,1,1,0,...,5000,0,4810,0,4810,0,0,R,0,NaN
22,22,160,H,8,48,467029,21,0,0,0,...,30000,0,28669,0,28669,19993,0,R,0,NaN
23,23,170,H,13,48,991751,18,1,0,0,...,126000,0,1065961,25.88,1065961,546035,25.88,R,0,NaN
24,24,170,H,13,46,440339,184,0,0,0,...,75000,0,450600,0,381951.7,0,0,R,0,NaN
25,25,160,H,7,50,572431,63,1,0,1,...,74000,0,-2188,0,-32229.88,87286,0,R,0,NaN
26,26,170,H,13,43,843556,49,0,1,1,...,10000,0,146947,0,146947,0,0,R,1,NaN
27,27,170,M,9,50,675290,21,0,0,1,...,8509,0,461839,0,461839,1333104,0,R,0,NaN
28,28,170,H,13,43,1309234,14,1,0,0,...,200000,0,642401,0,652401,42962,0,R,0,NaN
29,29,170,M,13,45,1400000,13,0,0,0,...,35962,0,36196,0,37312,148800,0,R,0,NaN